$gameFont: "Anonymous Pro";

@mixin plainLink {
  text-decoration: none;
  color: white;
}
@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin canvas($colorOne, $colorTwo) {
  width: 100vw;
  height: 100vh;
  background: linear-gradient($colorOne, $colorTwo);
}

@keyframes fade-in {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

body {
  margin: 0;
  font-family: $gameFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sign-in {
  @include flexCenter(column);
}

#navbar {
  position: fixed;
  top: 1rem;
  left: 90vw;
  // justify-content: flex-start;
  // background: white;
  z-index: 9;
  button {
    font-family: $gameFont;
    font-size: 1rem;
  }
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

#menu {
  @include flexCenter(column);
  margin: 2rem;
  position: fixed;
  bottom: 1vh;
  left: 88vw;
  z-index: 999;
  div {
    @include flexCenter(column);
    margin: .75rem;
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    background: linear-gradient(whitesmoke, rgb(176, 167, 167));
    &:hover {
      background: grey;
    }
  }
  a {
    @include plainLink;
    color: black;
  }
}

.hint-container {
  @include flexCenter(column);
  margin: 10rem;
  div {
    z-index: 9;
    color: rgb(0, 0, 0);
    background: radial-gradient(whitesmoke, rgb(211, 211, 210));
    padding: 8rem;
    border-radius: 10px;
  }
}

#map-container {
  @include flexCenter(column);
  //@include canvas(black, rgb(20, 20, 72));
  h1 {
    color: whitesmoke;
    text-shadow: 2px 2px rgb(65, 68, 96);
    z-index: 9;
  }
}

#map {
  @include flexCenter(row);
  justify-content: space-between;
  margin: 5rem;
  position: relative;
  font-size: 2rem;
  z-index: 9;
}

#start-container {
  @include flexCenter(column);
  align-items: space-around;
  width: 100vw;
  height: 80vh;
  transition: opacity 2s linear;
  //animation: fade-in 1s linear;
  //background: linear-gradient(black, rgb(20, 20, 72));
  div {
    color: white;
    font-size: 2rem;
    margin: 1rem;
    position: relative;
    z-index: 9;
  }
  a {
    @include plainLink;
  }
}

.story {
  @include flexCenter(column);
  margin: 15rem;
  div {
    color: white;
    z-index: 9;
  }
}

.puzzle-container {
  position: relative;
  @include flexCenter(column);
  align-items: center;
  @include canvas(black, rgb(20, 20, 72));
}

.puzzle {
  color: white;
  width: 70vw;
  position: relative;
  z-index: 9;
}

.bubos-container {
  position: relative;
  align-self: flex-start;
  @include flexCenter(row);
  justify-content: space-evenly;
  width: 30vw;
  z-index: 9;
  margin: 3rem;
}

@keyframes hover {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(35%);
  }
}

.bubo {
  @include flexCenter(row);
  width: 3rem;
  height: 4rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  border-radius: 50%;
  background: rgb(134, 186, 232);
  animation: hover 3s infinite;
  animation-duration: 1500ms;
  animation-direction: alternate;
  z-index: 999;
  div {
    @include flexCenter(row);
    justify-content: flex-end;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 2px;
    background: rgb(242, 242, 239);
    div {
      background: rgb(3, 3, 46);
      width: .5rem;
      height: .5rem;
    }
  }
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

.space-sky {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.stars, .twinkling, .clouds {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  //display:block;
}

.stars {
  background: black url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;

  animation: move-twink-back 200s linear infinite;
}

.clouds {
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  animation:move-clouds-back 200s linear infinite;
}


