@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: "Anonymous Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#start-container {
  @include flexCenter(column);
  width: 100vw;
  height: 100vh;
  background: black;
  div {
    color: white;
    font-size: 3rem;
    margin: 1rem;
  }
}

