$gameFont: 'Anonymous Pro', sans-serif;

@mixin plainLink {
  text-decoration: none;
  color: black;
}

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin canvas($colorOne, $colorTwo) {
  width: 100vw;
  height: 100vh;
  background: linear-gradient($colorOne, $colorTwo);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes hover {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(35%);
  }
}

@keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes clouds-passing {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

body {
  margin: 0;
  font-family: $gameFont;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sign-in {
  @include flexCenter(column);
}

#navbar {
  @include flexCenter(row);
  position: fixed;
  top: 1rem;
  left: 90vw;
  button {
    font-family: $gameFont;
    font-size: 1rem;
  }
}

.user-account {
  @include flexCenter(column);
  color: white;
}

.story {
  @include flexCenter(column);
  margin-top: 15rem;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid orange;
  margin-left: 10rem;
  margin-right: 10rem;
  letter-spacing: 0.1em;
  animation: typing 3s steps(40, end), cursor 0.75s step-end infinite;
}

.buttons-container {
  @include flexCenter(row);
  justify-content: space-around;
  margin: 5rem;
  button {
    margin: 2rem;
    font-family: $gameFont;
    font-size: 1rem;
    a {
      @include plainLink;
    }
  }
}

.button {
  font-family: $gameFont;
  font-size: 1rem;
  border: none;
  margin: 0.5rem;
  a {
    @include plainLink;
  }
}

.bubo-selector-container {
  @include flexCenter(column);
  height: 80vh;
  h2 {
    color: white;
  }
}

.bubo-selector {
  @include flexCenter(column);
  justify-content: flex-start;
  height: 22rem;
  width: 27rem;
  box-shadow: 3px 3px rgb(198, 160, 160);
  //position: relative;
  background: white;
  color: black;
  padding: 1.25rem;
  border-radius: 10px;
  span {
    margin: 0.75rem;
  }
}

.custom-bubo-container {
  @include flexCenter(column);
  height: 9rem;
  width: 6rem;
  animation: hover 2s alternate infinite;
  &:hover + div {
    @include flexCenter(column);
    border-radius: 3px;
    padding: 0.5rem;
    //position: relative;
    position: absolute;
    width: 5rem;
    background: linear-gradient(lavender, rgb(191, 189, 189));
    font-size: 0.7rem;
    z-index: 3;
  }
}

.bubo-stats {
  display: none;
}

.custom-bubo {
  @include flexCenter(row);
  margin-bottom: 4rem;
  width: 6rem;
  height: 6rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.line-bottom {
  @include flexCenter(row);
  justify-content: flex-start;
}

.accessory {
  position: absolute;
  top:0;
  margin-bottom: 3.5rem;
  width: 100px;
  height: 100px;
}

#menu {
  @include flexCenter(column);
  margin: 2rem;
  position: fixed;
  bottom: 1vh;
  left: 88vw;
  z-index: 5;
  div {
    @include flexCenter(column);
    margin: 0.75rem;
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    background: linear-gradient(whitesmoke, rgb(176, 167, 167));
    &:hover {
      background: rgb(181, 179, 179);
    }
  }
  a {
    @include plainLink;
  }
}

.hint-container {
  @include flexCenter(column);
  margin: 10rem;
  div {
    color: rgb(0, 0, 0);
    background: radial-gradient(whitesmoke, rgb(211, 211, 210));
    padding: 8rem;
    border-radius: 10px;
  }
}

#map-container {
  @include flexCenter(column);
  h1 {
    color: whitesmoke;
    text-shadow: 2px 2px rgb(65, 68, 96);
  }
}

#map {
  @include flexCenter(row);
  justify-content: space-between;
  margin: 5rem;
  position: relative;
  font-size: 2rem;
}

.map-icon {
  height: 6rem;
  width: 6rem;
  z-index: 5;
  background: transparent
    url(https://i.ibb.co/Krh0bqj/500px-Sphere-monochrome-simple-svg.png);
}

#start-container {
  @include flexCenter(column);
  align-items: space-around;
  width: 100vw;
  height: 80vh;
  transition: opacity 2s linear;
  animation: fade-in 2s linear;
  //background: linear-gradient(black, rgb(20, 20, 72));
  div {
    color: white;
    font-size: 2rem;
    margin: 1rem;
    position: relative;
  }
  a {
    @include plainLink;
  }
}

.puzzle-container {
  position: relative;
  @include flexCenter(column);
  align-items: space-between;
  //@include canvas(black, rgb(12, 12, 36));
}

.puzzle {
  color: white;
  width: 70vw;
  position: relative;
  z-index: 9;
}

.bubos-puzzle-container {
  position: relative;
  align-self: flex-start;
  @include flexCenter(row);
  justify-content: space-evenly;
  width: 30vw;
  margin: 3rem;
}

.mirror {
  @include flexCenter(column);
  background: transparent url(https://i.ibb.co/nBvqPS4/mirror.png) repeat top
    center;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.lost-and-found {
  @include flexCenter(column);
  text-align: center;
  justify-content: flex-start;
  color: rgb(75, 72, 72);
  z-index: 1;
  height: 100vh;
  margin: 8rem;
}

.lf-text {
  margin: 1rem;
  color: rgb(90, 90, 90);
  z-index: 0;
  width: 40rem;
}

.lost-bubos-container {
  @include flexCenter(row);
  justify-content: space-between;
  z-index: 1;
}

.lost-bubo {
  margin: 0.5rem;
}

// .raft {
//   width: 10rem;
//   height: 10rem;
//   background: radial-gradient(rgb(26, 15, 15), rgb(82, 47, 29));
//   border-radius: 10px;
//   //margin-right: 30rem;
// }

.space-sky {
  width: 100%;
  height: 100%;
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  //display:block;
}

.stars {
  background: black
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: -4;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: -3;
  background-repeat: repeat;
  animation: twinkle 200s linear infinite;
}

.clouds {
  background: transparent url(https://i.ibb.co/1ZK2Vpc/purple-fog.png) repeat
    top center;
  z-index: 0;
  animation: clouds-passing 300s linear infinite;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9
}

.order-10 {
  order: 10
}
